ALLOW {
    [org.osgi.service.condpermadmin.BundleLocationCondition "file:/C:/workspace/inspien/cloud-edi/work/package-security/apache-karaf-4.3.6/deploy/*"]
    (java.io.FilePermission "config-repository/*" "read,write")
} "bundle-a@allow"

DENY {
    [org.osgi.service.condpermadmin.BundleLocationCondition "file:/C:/workspace/inspien/cloud-edi/work/package-security/apache-karaf-4.3.6/deploy/*"]
    (java.io.FilePermission "*" "read,write")
    (java.net.SocketPermission "*" "connect,accept,listen")
    (java.net.NetPermission "*" "*")
    (java.security.SecurityPermission "*" "*")
    (java.lang.RuntimePermission "*")
} "bundle@deny"

ALLOW {
    (java.security.AllPermission "*" "*")
} "other@allow"